* {
    box-sizing: border-box;
}

.container {
    background: inherit;
    display: flex;
    /*flex-direction: column;*/
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/*button {
    font-size: 14px;
    color: white;
    background-color:#0066ff;
    border-radius: 3px;
    border: 1px solid #303030;
    padding: 4px;
    margin: 0;
}*/
button {
    cursor: pointer;
    background-color: rgb(35, 163, 210);
    border: none;
    border-radius: 5px;
    color: rgb(32, 31, 31);
    font-weight: 600;
    transition: all 0.5s;
    width: auto;
    font-size: 12px;
    text-align: center;
    padding: 4px 3px;    
}

.coments {
    color: white;
}

button:hover {
    background-color: rgb(81, 175, 209);
    color: rgb(56, 54, 54);
    transition: all 0.5s;
    
}

.winclass {
    padding: 20% 0 0 0;
}
.item {
    background: inherit;
    width: 26%;
    height: 20%;
    background-repeat: no-repeat;
}

.item img {
    width: 100%;
    height: auto;
}

#insheet {
    margin: 0 300px 0 235px;
}

.header {
    border: 1px solid red;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 0 0 0 0;
    /*border: 1px solid red;*/
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}